@charset "UTF-8";
body {
  color: #444;
  font-size: 15px;
  line-height: 33.75px;
  font-size: 1.5rem;
  line-height: 3.375rem; }
  @media (min-width: 550px) {
    body {
      font-size: 16px;
      line-height: 36px;
      font-size: 1.6rem;
      line-height: 3.6rem; } }

body {
  background: linear-gradient(180deg, #419acf, #d4ebec, #f5af7d);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 90%; }
  50% {
    background-position: 100% 11%; }
  100% {
    background-position: 0% 90%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 90%; }
  50% {
    background-position: 100% 11%; }
  100% {
    background-position: 0% 90%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 90%; }
  50% {
    background-position: 100% 11%; }
  100% {
    background-position: 0% 90%; } }
.fixed {
  position: fixed;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: #444; }

a:hover {
  color: #444; }

p {
  margin: 0;
  text-align: justify;
  text-justify: inter-ideograph; }

ul {
  margin: 0; }

.limelight {
  font-family: 'Limelight', cursive; }

h1 {
  margin: 0; }

h2 {
  font-size: 32px;
  line-height: 72px;
  font-size: 3.2rem;
  line-height: 7.2rem;
  margin: 0; }
  @media (max-width: 549px) {
    h2 {
      font-size: 24px;
      line-height: 54px;
      font-size: 2.4rem;
      line-height: 5.4rem; } }

h3 {
  font-size: 20px;
  line-height: 45px;
  font-size: 2rem;
  line-height: 4.5rem;
  margin: 0; }

/* drop -------------------------------------------------------*/
#drop_navi {
  position: fixed;
  top: 280px;
  right: 4%; }
  #drop_navi .drop {
    height: 36px;
    width: 36px;
    margin: 16px; }
  @media (max-width: 549px) {
    #drop_navi {
      display: none; } }

.drop {
  background-image: url(../images/drop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.drop_blue {
  background-image: url(../images/drop_blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.bg_rain {
  display: flex;
  position: fixed;
  transform: rotate(5deg);
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  @media (max-width: 549px) {
    .bg_rain {
      width: 200%;
      height: 200%; } }

.rains {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/*widthは雨の太さ、heightは長さ*/
.rains span {
  position: absolute;
  width: 1px;
  height: 90px;
  background: #FFF;
  opacity: 0.5; }

/*雨の初期位置とアニメーション指定、leftはx座標での基準位置、topは開始位置、アニメーション時間は揺らぎ*/
.rains span:nth-child(1) {
  left: 5%;
  top: -90%;
  animation: rain-anim 25s infinite; }

.rains span:nth-child(2) {
  left: 10%;
  top: -80%;
  animation: rain-anim 26s infinite; }

.rains span:nth-child(3) {
  left: 15%;
  top: -70%;
  animation: rain-anim 23s infinite; }

.rains span:nth-child(4) {
  left: 20%;
  top: -60%;
  animation: rain-anim 27s infinite; }

.rains span:nth-child(5) {
  left: 25%;
  top: -50%;
  animation: rain-anim 25s infinite; }

.rains span:nth-child(6) {
  left: 30%;
  top: -150px;
  animation: rain-anim 26s infinite; }

.rains span:nth-child(7) {
  left: 35%;
  top: -160px;
  animation: rain-anim 28s infinite; }

.rains span:nth-child(8) {
  left: 40%;
  top: -170px;
  animation: rain-anim 22s infinite; }

.rains span:nth-child(9) {
  left: 45%;
  top: -180px;
  animation: rain-anim 24s infinite; }

.rains span:nth-child(10) {
  left: 50%;
  top: -190px;
  animation: rain-anim 26s infinite; }

.rains span:nth-child(11) {
  left: 55%;
  top: -190px;
  animation: rain-anim 25s infinite; }

.rains span:nth-child(12) {
  left: 60%;
  top: -180px;
  animation: rain-anim 21s infinite; }

.rains span:nth-child(13) {
  left: 65%;
  top: -170px;
  animation: rain-anim 29s infinite; }

.rains span:nth-child(14) {
  left: 70%;
  top: -160px;
  animation: rain-anim 27s infinite; }

.rains span:nth-child(15) {
  left: 75%;
  top: -150px;
  animation: rain-anim 25s infinite; }

.rains span:nth-child(16) {
  left: 80%;
  top: -50%;
  animation: rain-anim 29s infinite; }

.rains span:nth-child(17) {
  left: 85%;
  top: -60%;
  animation: rain-anim 23s infinite; }

.rains span:nth-child(18) {
  left: 90%;
  top: -70%;
  animation: rain-anim 24s infinite; }

.rains span:nth-child(19) {
  left: 95%;
  top: -80%;
  animation: rain-anim 26s infinite; }

.rains span:nth-child(20) {
  left: 100%;
  top: -90%;
  animation: rain-anim 28s infinite; }

/*アニメーションキーフレーム
一度落下したら次はキーフレーム1%の間に高さを戻して左右にずらして降らす*/
@keyframes rain-anim {
  0% {
    transform: translate(0px, 0px);
    opacity: 0.5; }
  4% {
    transform: translate(0px, 1000px);
    opacity: 0; }
  5% {
    transform: translate(100%, 0px);
    opacity: 0.5; }
  9% {
    transform: translate(100%, 1000px);
    opacity: 0; }
  10% {
    transform: translate(-50%, 0px);
    opacity: 0.5; }
  14% {
    transform: translate(-50%, 1000px);
    opacity: 0; }
  15% {
    transform: translate(-100%, 0px);
    opacity: 0.5; }
  19% {
    transform: translate(-100%, 1000px);
    opacity: 0; }
  20% {
    transform: translate(50%, 0px);
    opacity: 0.5; }
  24% {
    transform: translate(50%, 1000px);
    opacity: 0; }
  25% {
    transform: translate(-75%, 0px);
    opacity: 0.5; }
  29% {
    transform: translate(-75%, 1000px);
    opacity: 0; }
  30% {
    transform: translate(-40%, 0px);
    opacity: 0.5; }
  34% {
    transform: translate(-40%, 1000px);
    opacity: 0; }
  35% {
    transform: translate(75%, 0px);
    opacity: 0.5; }
  39% {
    transform: translate(75%, 1000px);
    opacity: 0; }
  40% {
    transform: translate(-30%, 0px);
    opacity: 0.5; }
  44% {
    transform: translate(-30%, 1000px);
    opacity: 0; }
  45% {
    transform: translate(45%, 0px);
    opacity: 0.5; }
  49% {
    transform: translate(45%, 1000px);
    opacity: 0; }
  50% {
    transform: translate(30%, 0px);
    opacity: 0.5; }
  54% {
    transform: translate(30%, 1000px);
    opacity: 0; }
  55% {
    transform: translate(-30%, 0px);
    opacity: 0.5; }
  59% {
    transform: translate(-30%, 1000px);
    opacity: 0; }
  60% {
    transform: translate(-20%, 0px);
    opacity: 0.5; }
  64% {
    transform: translate(-20%, 1000px);
    opacity: 0; }
  65% {
    transform: translate(20%, 0px);
    opacity: 0.5; }
  69% {
    transform: translate(20%, 1000px);
    opacity: 0; }
  70% {
    transform: translate(-10%, 0px);
    opacity: 0.5; }
  74% {
    transform: translate(-10%, 1000px);
    opacity: 0; }
  75% {
    transform: translate(-55%, 0px);
    opacity: 0.5; }
  79% {
    transform: translate(-55%, 1000px);
    opacity: 0; }
  80% {
    transform: translate(10%, 0px);
    opacity: 0.5; }
  84% {
    transform: translate(10%, 1000px);
    opacity: 0; }
  85% {
    transform: translate(-10%, 0px);
    opacity: 0.5; }
  89% {
    transform: translate(-10%, 1000px);
    opacity: 0; }
  90% {
    transform: translate(25%, 0px);
    opacity: 0.5; }
  99% {
    transform: translate(25%, 1000px);
    opacity: 0; }
  100% {
    transform: translate(0px, 0px); } }
/*-------------------------------------------------------------*/
/* header -----------------------------------------------------*/
header {
  position: relative;
  padding-top: 16px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100; }

.header_menu_name {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; }

.name-header {
  display: block;
  font-size: 20px;
  line-height: 45px;
  font-size: 2rem;
  line-height: 4.5rem;
  font-size: 12px;
  line-height: 27px;
  font-size: 1.2rem;
  line-height: 2.7rem;
  line-height: 12px;
  text-transform: uppercase; }
  @media (min-width: 550px) {
    .name-header {
      font-size: 24px;
      line-height: 54px;
      font-size: 2.4rem;
      line-height: 5.4rem;
      line-height: 24px; } }
  .name-header span {
    width: 100%;
    display: block;
    font-size: 9px;
    line-height: 20.25px;
    font-size: 0.9rem;
    line-height: 2.025rem;
    line-height: 12px; }
    @media (min-width: 550px) {
      .name-header span {
        font-size: 18px;
        line-height: 40.5px;
        font-size: 1.8rem;
        line-height: 4.05rem;
        line-height: 24px;
        letter-spacing: 0.1px; } }

.header_menu_pc {
  text-align: right;
  font-size: 0px;
  line-height: 0px;
  font-size: 0rem;
  line-height: 0rem;
  padding-top: 22px; }
  .header_menu_pc ul {
    list-style: none; }
    .header_menu_pc ul li {
      display: inline-block;
      font-size: 20px;
      line-height: 45px;
      font-size: 2rem;
      line-height: 4.5rem;
      margin: 0;
      padding: 4px;
      margin-left: 24px; }
  .header_menu_pc p {
    font-size: 20px;
    line-height: 45px;
    font-size: 2rem;
    line-height: 4.5rem;
    line-height: 26px; }
    .header_menu_pc p span {
      font-size: 16px;
      padding: 0 4px; }
  @media (max-width: 549px) {
    .header_menu_pc {
      display: none; } }

.sp_menu #sp_menu_buttun {
  position: relative;
  z-index: 200;
  width: 40px;
  height: 40px;
  background-color: lightseagreen; }
.sp_menu .sp_menu_toggle {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -16px;
  right: 0;
  z-index: 10;
  overflow: hidden;
  display: none; }
  .sp_menu .sp_menu_toggle .sp_menu_back {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh; }
    .sp_menu .sp_menu_toggle .sp_menu_back div {
      display: inline-block;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      width: 20%;
      height: 100%;
      position: relative; }
    .sp_menu .sp_menu_toggle .sp_menu_back .back {
      display: none;
      background-color: lightslategrey;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .sp_menu .sp_menu_toggle .sp_menu_back .back1 {
      display: block; }
  .sp_menu .sp_menu_toggle ul {
    list-style: none; }
@media (min-width: 550px) {
  .sp_menu {
    display: none; } }

.header_menu_pc_in {
  position: relative; }

.header_menu_pc_in::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #444;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.56s cubic-bezier(1, 0, 0, 1.2);
  transition: transform 0.56s cubic-bezier(0.9, 0.9, 0, 1); }

.header_menu_pc_in:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

/*-------------------------------------------------------------*/
/* title ------------------------------------------------------*/
.title {
  display: flex;
  font-size: 48px;
  line-height: 108px;
  font-size: 4.8rem;
  line-height: 10.8rem;
  height: 252px;
  align-items: center;
  text-align: center; }
  @media (min-width: 550px) {
    .title {
      margin-top: 120px; } }
  @media (max-width: 549px) {
    .title {
      margin-top: 32px;
      margin-bottom: 32px; } }
  .title h1 {
    overflow: hidden;
    font-size: 24px;
    line-height: 54px;
    font-size: 2.4rem;
    line-height: 5.4rem;
    line-height: 24px;
    text-transform: uppercase; }
    @media (min-width: 550px) {
      .title h1 {
        font-size: 48px;
        line-height: 108px;
        font-size: 4.8rem;
        line-height: 10.8rem;
        line-height: 48px; } }
    .title h1 span {
      display: block;
      font-size: 18px;
      line-height: 40.5px;
      font-size: 1.8rem;
      line-height: 4.05rem;
      line-height: 24px;
      letter-spacing: 0.1px; }
      @media (min-width: 550px) {
        .title h1 span {
          font-size: 36px;
          line-height: 81px;
          font-size: 3.6rem;
          line-height: 8.1rem;
          line-height: 48px;
          letter-spacing: 0.2px; } }
  .title .title_myname {
    width: 100%;
    text-align: center; }
    .title .title_myname .title_myname_inner {
      width: 128px;
      padding: 8px;
      display: inline-block;
      box-sizing: border-box;
      border: transparent 1px solid;
      position: relative; }
      @media (min-width: 550px) {
        .title .title_myname .title_myname_inner {
          width: 280px; } }
      @media (min-width: 550px) {
        .title .title_myname .title_myname_inner {
          padding: 8px 24px 8px 24px; } }
  .title .title_border_top {
    right: 0;
    top: 0%;
    animation: title-anim_top_sp 7s infinite;
    background-color: #444;
    position: absolute;
    width: 64px;
    height: 1.2px; }
    @media (min-width: 550px) {
      .title .title_border_top {
        animation: title-anim_top 7s infinite;
        width: 120px; } }
  .title .title_border_left {
    left: 0%;
    top: -32px;
    animation: title-anim_left_sp 7s infinite;
    background-color: #444;
    position: absolute;
    width: 1.2px;
    height: 32px; }
    @media (min-width: 550px) {
      .title .title_border_left {
        animation: title-anim_left 7s infinite;
        top: -56px;
        height: 56px; } }
  .title .title_border_bottom {
    left: 0;
    bottom: 0;
    animation: title-anim_bottom_sp 7s infinite;
    background-color: #444;
    position: absolute;
    width: 64px;
    height: 1.2px; }
    @media (min-width: 550px) {
      .title .title_border_bottom {
        animation: title-anim_bottom 7s infinite;
        width: 120px; } }
  .title .title_border_right {
    right: 0;
    bottom: -32px;
    animation: title-anim_right_sp 7s infinite;
    background-color: #444;
    position: absolute;
    width: 1.2px;
    height: 32px; }
    @media (min-width: 550px) {
      .title .title_border_right {
        animation: title-anim_right 7s infinite;
        bottom: -56px;
        height: 56px; } }
@keyframes title-anim_top {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  2% {
    transform: translate(-120px, 0px);
    opacity: 0; }
  10% {
    transform: translate(-280px, 0px);
    opacity: 1; }
  100% {
    transform: translate(-280px, 0px);
    opacity: 0; } }
@keyframes title-anim_top_sp {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  2% {
    transform: translate(-56px, 0px);
    opacity: 0; }
  10% {
    transform: translate(-128px, 0px);
    opacity: 1; }
  100% {
    transform: translate(-128px, 0px);
    opacity: 0; } }
@keyframes title-anim_left {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  10% {
    transform: translate(0px, 0px);
    opacity: 1; }
  17% {
    transform: translate(0px, 96px);
    opacity: 0; }
  20% {
    transform: translate(0px, 120px);
    opacity: 0; }
  100% {
    transform: translate(0px, 120px);
    opacity: 0; } }
@keyframes title-anim_left_sp {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  10% {
    transform: translate(0px, 0px);
    opacity: 1; }
  17% {
    transform: translate(0px, 48px);
    opacity: 0; }
  20% {
    transform: translate(0px, 64px);
    opacity: 0; }
  100% {
    transform: translate(0px, 64px);
    opacity: 0; } }
@keyframes title-anim_bottom {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  50% {
    transform: translate(0px, 0px);
    opacity: 0; }
  52% {
    transform: translate(120px, 0px);
    opacity: 0; }
  60% {
    transform: translate(280px, 0px);
    opacity: 1; }
  100% {
    transform: translate(280px, 0px);
    opacity: 0; } }
@keyframes title-anim_bottom_sp {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  50% {
    transform: translate(0px, 0px);
    opacity: 0; }
  52% {
    transform: translate(56px, 0px);
    opacity: 0; }
  60% {
    transform: translate(128px, 0px);
    opacity: 1; }
  100% {
    transform: translate(128px, 0px);
    opacity: 0; } }
@keyframes title-anim_right {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  60% {
    transform: translate(0px, 0px);
    opacity: 1; }
  67% {
    transform: translate(0px, -96px);
    opacity: 0; }
  70% {
    transform: translate(0px, -120px);
    opacity: 0; }
  100% {
    transform: translate(0px, -120px);
    opacity: 0; } }
@keyframes title-anim_right_sp {
  0% {
    transform: translate(0px, 0px);
    opacity: 0; }
  60% {
    transform: translate(0px, 0px);
    opacity: 1; }
  67% {
    transform: translate(0px, -48px);
    opacity: 0; }
  70% {
    transform: translate(0px, -64px);
    opacity: 0; }
  100% {
    transform: translate(0px, -64px);
    opacity: 0; } }
/*-------------------------------------------------------------*/
/* about ------------------------------------------------------*/
.about {
  display: flex;
  align-items: center;
  position: relative; }
  @media (min-width: 550px) {
    .about {
      margin-top: 160px; } }
  .about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .about .sp_about {
    display: inline-block;
    width: 40%; }
    .about .sp_about h2 {
      line-height: 40px; }
    @media (min-width: 550px) {
      .about .sp_about {
        display: none; } }
  .about .photo_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    @media (max-width: 549px) {
      .about .photo_title {
        align-items: flex-end;
        margin-bottom: 20px; } }
  .about .pc_about_wrappar {
    position: relative;
    width: 100%;
    display: inline-block; }
  .about .pc_about {
    text-align: center; }
    @media (max-width: 549px) {
      .about .pc_about {
        display: none; } }
  .about .about_photo_wrappar {
    position: relative;
    width: 30%;
    display: inline-block; }
    @media (min-width: 550px) {
      .about .about_photo_wrappar {
        width: 90%; } }
    .about .about_photo_wrappar:before {
      content: "";
      display: block;
      background-size: border-box;
      padding-top: 100%; }
    .about .about_photo_wrappar .top_about_image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 50%;
      text-align: center;
      background-image: url(../images/profileImg.jpg);
      background-size: cover; }
  .about .more {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 16px; }
    .about .more a {
      display: inline-block;
      text-align: center; }
    .about .more p {
      display: block;
      width: 128px;
      height: 40px;
      color: #FFF;
      background-color: #444;
      font-size: 20px;
      line-height: 45px;
      font-size: 2rem;
      line-height: 4.5rem;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid transparent;
      outline: 1px solid;
      outline-color: #777;
      outline-offset: 0px;
      text-shadow: none;
      cursor: pointer;
      transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1); }
      .about .more p:hover {
        border-color: #777;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.05);
        /*
        outline-color: transparent;
        outline-offset: 12px;
        text-shadow: 2px 2px 3px $font_color;
        cursor: pointer;
        */ }

.hover {
  animation: hover_anime 1.2s forwards; }

@keyframes hover_anime {
  100% {
    outline-color: transparent;
    outline-offset: 12px; } }
/*-------------------------------------------------------------*/
/* skills -----------------------------------------------------*/
.skills {
  margin-top: 64px;
  text-align: center;
  display: flex;
  align-items: center; }
  @media (min-width: 550px) {
    .skills {
      margin-top: 160px; } }
  .skills .skill .skill_photo_wrappar {
    position: relative;
    width: 100%; }
    .skills .skill .skill_photo_wrappar:before {
      content: "";
      display: block;
      background-size: border-box;
      padding-top: 66.66%; }
    .skills .skill .skill_photo_wrappar .slill_photo {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: goldenrod;
      height: 100%; }
  @media (min-width: 550px) {
    .skills .skills_icons {
      margin-top: 40px; } }
  .skills .skills_icons ul {
    list-style: none; }
    .skills .skills_icons ul li {
      display: inline-block;
      padding: 8px 16px 8px 16px;
      background-color: #419acf;
      color: #fff;
      margin: 1px; }
      @media (max-width: 549px) {
        .skills .skills_icons ul li {
          margin-bottom: 4px; } }

#skill_design {
  background-image: url(../images/skill_design.jpg);
  background-size: cover; }

#skill_coding {
  background-image: url(../images/skill_coding.jpg);
  background-size: cover; }

#skill_illust {
  background-image: url(../images/skill_illust.jpg);
  background-size: cover; }

/*-------------------------------------------------------------*/
/* works -----------------------------------------------------*/
.top_works {
  margin-top: 64px;
  display: flex;
  align-items: center;
  text-align: center; }
  @media (min-width: 550px) {
    .top_works {
      margin-top: 160px; } }
  .top_works .work_wrappar {
    position: relative;
    margin-bottom: 32px; }
    .top_works .work_wrappar:before {
      content: "";
      display: block;
      background-size: border-box;
      padding-top: 66.66%; }
    .top_works .work_wrappar .work {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: goldenrod;
      height: 100%; }

#web {
  background-image: url(../images/web_shopping.png);
  background-size: cover; }

#illust {
  background-image: url(../images/tropical.jpeg);
  background-size: cover;
  background-position: 0 16%; }

#game {
  background-image: url(../images/illust_top.png);
  background-size: cover;
  background-position: center; }

#photo {
  background-image: url(../images/Photo_top.jpg);
  background-size: cover;
  background-position: center; }

.work_in {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: backdrop-filter 0.6s, opacity 0.6s;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  opacity: 0;
  backdrop-filter: blur(0px);
  background-color: rgba(255, 255, 255, 0.5); }
  .work_in p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    font-size: 2rem;
    line-height: 4.5rem;
    color: #444;
    margin-bottom: 16px; }

.title_more {
  width: 100%;
  text-align: center; }

.work_more {
  background: #444;
  display: inline-block;
  text-align: center;
  width: 128px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: #777;
  outline-offset: 0px;
  text-shadow: none;
  cursor: pointer;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1); }
  .work_more:hover {
    border-color: #777;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.1), 0 0 20px； rgba(255, 255, 255, 0.05);
    /*
    outline-color: transparent;
    outline-offset: 12px;
    text-shadow: 2px 2px 3px $font_color;
    cursor: pointer;
    */ }
  .work_more p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    font-size: 2rem;
    line-height: 4.5rem; }

.work_in:hover {
  backdrop-filter: blur(4px);
  opacity: 1; }

/*-------------------------------------------------------------*/
/* contact ----------------------------------------------------*/
.contact {
  text-align: center;
  margin-top: 64px; }
  @media (min-width: 550px) {
    .contact {
      margin-top: 160px; } }
  .contact .contact_icon {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media (min-width: 550px) {
      .contact .contact_icon {
        justify-content: center; }
        .contact .contact_icon li {
          margin: 0 56px; } }
    .contact .contact_icon li {
      display: inline-block;
      vertical-align: middle; }
    .contact .contact_icon .github {
      font-size: 50px;
      line-height: 112.5px;
      font-size: 5rem;
      line-height: 11.25rem; }
    .contact .contact_icon .mail {
      font-size: 42.66667px;
      line-height: 96px;
      font-size: 4.26667rem;
      line-height: 9.6rem; }

/*-------------------------------------------------------------*/
/* fotter -----------------------------------------------------*/
footer {
  margin-top: 40px; }
  @media (min-width: 550px) {
    footer {
      margin-top: 80px; } }
  footer .container p {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    font-size: 1.6rem;
    line-height: 3.6rem; }

/*-------------------------------------------------------------*/
/* about.html -------------------------------------------------*/
.about_page {
  padding-top: 96px; }
  @media (min-width: 550px) {
    .about_page {
      margin-top: 64px; } }

.about_br {
  display: inline-block;
  margin-bottom: 24px; }

@media (max-width: 549px) {
  .skill {
    margin-bottom: 24px; } }

.career {
  margin-top: 64px;
  text-align: center; }
  @media (min-width: 550px) {
    .career {
      margin-top: 160px; } }
  .career .row {
    margin-top: 8px; }
    @media (min-width: 550px) {
      .career .row {
        margin-top: 24px; } }
  .career ul {
    list-style: none;
    text-align: left; }
    .career ul li {
      display: flex;
      width: 100%;
      font-size: 0;
      line-height: 0;
      margin-bottom: 16px; }
      @media (min-width: 550px) {
        .career ul li {
          margin-bottom: 32px; } }
    .career ul .career_year {
      display: inline-block;
      width: 20%; }
      @media (max-width: 549px) {
        .career ul .career_year {
          display: block; } }
    .career ul li p {
      font-size: 15px;
      line-height: 33.75px;
      font-size: 1.5rem;
      line-height: 3.375rem;
      vertical-align: middle; }
      @media (min-width: 550px) {
        .career ul li p {
          font-size: 20px;
          line-height: 45px;
          font-size: 2rem;
          line-height: 4.5rem; } }
    .career ul .career_detail {
      display: inline-block;
      width: 100%; }
      @media (min-width: 550px) {
        .career ul .career_detail {
          width: 80%; } }

.hobbys {
  text-align: center;
  margin-top: 64px; }
  @media (min-width: 550px) {
    .hobbys {
      margin-top: 160px; } }
  .hobbys .hobby_list {
    list-style: none; }
    .hobbys .hobby_list li {
      display: inline-block;
      text-align: center;
      width: 15%; }
      .hobbys .hobby_list li div {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: orange; }
      .hobbys .hobby_list li p {
        display: inline-block;
        width: 100%;
        text-align: center; }

/*-------------------------------------------------------------*/
/* works.html -------------------------------------------------*/
.title_works {
  margin-top: 96px;
  margin-bottom: 96px;
  text-align: center; }

.works_menu {
  width: 100%;
  height: 200px; }
  .works_menu ul {
    display: block;
    width: 100%;
    list-style: none;
    font-size: 20px;
    line-height: 45px;
    font-size: 2rem;
    line-height: 4.5rem; }

.work {
  margin-bottom: 24px; }
  .work h4 {
    font-size: 20px;
    line-height: 45px;
    font-size: 2rem;
    line-height: 4.5rem;
    margin-bottom: 0; }
  .work .selected {
    background: yellow; }
  .work .selected_wrappar {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 16px; }
    @media (min-width: 550px) {
      .work .selected_wrappar {
        width: 48%; } }
    .work .selected_wrappar:before {
      content: "";
      display: inline-block;
      background-size: border-box;
      padding-top: 66.66%; }
    .work .selected_wrappar .selected {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      background-size: cover; }
  .work .works_select_wrappar {
    position: relative;
    width: 100%;
    display: inline-block; }
    @media (min-width: 550px) {
      .work .works_select_wrappar {
        width: 23%;
        margin-right: 2%; } }
    .work .works_select_wrappar:before {
      content: "";
      display: inline-block;
      background-size: border-box;
      padding-top: 66.66%; }
    .work .works_select_wrappar .works_select {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      background-size: cover;
      background: orange; }
  .work .works_last {
    margin-right: 0; }
  .work .selects {
    width: 100%;
    position: relative; }

#description {
  display: inline-block; }
  @media (min-width: 550px) {
    #description {
      width: 48%;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 16px;
      line-height: 36px;
      font-size: 1.6rem;
      line-height: 3.6rem; } }

.description {
  display: none; }

#portfolio {
  background: blue; }

/*# sourceMappingURL=style.css.map */
